.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-bottom: 0.8rem;
}
.content {
  /* font-size: 1.5rem; */
  font-weight: 400;
  font-size: 3.1vw;
}

.bottomHeader {
  font-size: var(--global-header-font);
  margin-bottom: 0.3rem;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .content {
    font-size: 2.8vw;
  }
  .contentContainer {
    margin-bottom: 5vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .content {
    font-size: 2.6vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .content {
    font-size: 2.3vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .content {
    font-size: 2vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .content {
    font-size: 1.8vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
