.container {
  margin-top: 1rem;
}
.header {
  font-size: 4.5vw;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.card {
  display: flex;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0.4rem;
  overflow: hidden;
}
.donationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imageContainer {
  width: 40%;
}
.right {
  width: 60%;
  padding: 0.8rem 0.4rem;
}
.subHeader {
  font-weight: 700;
  font-size: 3.8vw;
  margin-bottom: 0.7rem;
  color: #fff;
}
.smile {
  font-size: 4.5vw;
}

.content {
  color: #fff;
  font-weight: 500;
  font-size: 2.7vw;
  margin-bottom: 0.7rem;
}
.contriText,
.amountText {
  font-weight: 400;
  font-size: 2.4vw;
}
.contriTypeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
}
.monthlyContainer {
  background: radial-gradient(
    121.11% 50% at 50% 50%,
    rgba(28, 28, 28, 0.88) 0%,
    #0d0d0d 100%
  );

  padding: 0.2rem;

  border-radius: 0.2rem;
}
.monthlyContainer .contriType {
  color: #ffc700;
}

.yearlyContainer {
  background-color: #ffc700;
  padding: 0.2rem;

  border-radius: 0.2rem;
  /* height: var(--frequency-height); */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.yearlyContainer .contriType {
  color: black;
}
.contriType {
  font-weight: 500;
  font-size: 3.2vw;
}

.amountContainer {
  margin-top: 0.6rem;
}

.priceContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.2rem;
  gap: 0.3rem;
}
.amountWrapper {
  background: radial-gradient(
    121.11% 50% at 50% 50%,
    rgba(28, 28, 28, 0.88) 0%,
    #0d0d0d 100%
  );
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  border-radius: 0.2rem;
}
.amount {
  font-weight: 700;
  font-size: 3.5vw;
  color: #ffc700;
}
.enterWrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.51) 0%,
    rgba(153, 153, 153, 0.51) 100%
  );
  padding: 0.2rem 0.9rem;
  border-radius: 0.1rem;
}
.enterText {
  font-weight: 500;
  font-size: 3.1vw;
  color: black;
}
.btnContainer {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contriBtn {
  color: var(--Live-Indicator);
  background: radial-gradient(
    121.11% 50% at 50% 50%,
    rgba(28, 28, 28, 0.88) 0%,
    #0d0d0d 100%
  );
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

@media only screen and (min-width: 375px) {
  .subHeader {
    font-size: 3.2vw;
    margin-bottom: 0.7rem;
  }
  .content {
    font-size: 2.5vw;
    margin-bottom: 0.7rem;
  }
  .contriText,
  .amountText {
    font-size: 2.2vw;
  }
  .contriType {
    font-size: 2.8vw;
  }
  .amount {
    font-size: 3vw;
  }
  .enterText {
    font-size: 2.7vw;
  }
  .contriBtn {
    font-size: 3vw;
    border-radius: 0.2rem;
    padding: 0.4rem;
  }
}

@media only screen and (min-width: 480px) {
  .subHeader {
    font-size: 3vw;
    margin-bottom: 0.4rem;
  }
  .smile {
    font-size: 4vw;
  }
  .content {
    font-size: 2.2vw;
    margin-bottom: 0.7rem;
  }
  .contriText,
  .amountText {
    font-size: 2vw;
  }
  .contriType {
    font-size: 2.4vw;
  }
  .amount {
    font-size: 2.6vw;
  }
  .enterText {
    font-size: 2.2vw;
  }
  .contriBtn {
    font-size: 2.7vw;
    border-radius: 0.2rem;
    padding: 0.4rem;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .right {
    padding: 1.6rem 1rem;
  }
  .subHeader {
    font-size: 2.6vw;
    margin-bottom: 0.4rem;
  }
  .smile {
    font-size: 3.5vw;
  }
  .content {
    font-size: 1.8vw;
    margin-bottom: 0.7rem;
  }
  .monthlyContainer,
  .yearlyContainer {
    padding: 0.4rem;
    border-radius: 0.2rem;
  }
  .contriText,
  .amountText {
    font-size: 1.4vw;
  }
  .contriType {
    font-size: 1.7vw;
  }
  .amountWrapper {
    padding: 0.4rem;
  }
  .amount {
    font-size: 1.8vw;
  }
  .enterWrapper {
    padding: 0.41rem 1.4rem;
    border-radius: 0.3rem;
  }
  .enterText {
    font-size: 1.6vw;
  }
  .contriBtn {
    font-size: 2.3vw;
    border-radius: 0.2rem;
    padding: 0.4rem;
    height: 100%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .right {
    padding: 1.9rem 1.3rem;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .right {
    padding: 2.2rem 2.3rem;
  }
  .subHeader {
    font-size: 2.3vw;
    margin-bottom: 0.4rem;
    width: 80%;
    line-height: 130%;
  }
  .smile {
    font-size: 3vw;
  }
  .content {
    font-size: 1.4vw;
    margin-bottom: 1.3rem;
    width: 90%;
  }
  .monthlyContainer,
  .yearlyContainer {
    padding: 0.4rem 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
  }
  .contriText,
  .amountText {
    font-size: 1.2vw;
    margin-bottom: 0.3rem;
  }
  .contriType {
    font-size: 1.3vw;
  }

  .priceContainer {
    gap: 0.6rem;
    margin-bottom: 1.5rem;
  }
  .amountWrapper {
    padding: 0.5rem;
  }
  .amount {
    font-size: 1.6vw;
  }
  .enterWrapper {
    padding: 0.5rem 1.4rem;
    border-radius: 0.3rem;
  }
  .enterText {
    font-size: 1.4vw;
  }
  .contriBtn {
    font-size: 2vw;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .imageContainer {
    width: 43%;
  }
  .right {
    width: 57%;
  }
  .card {
    border-radius: 0.8rem;
  }
  .header {
    font-size: 4vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .header {
    font-size: 3.3vw;
  }

  .right {
    padding: 2.2rem 2.3rem;
  }
  .subHeader {
    font-size: 2vw;
    margin-bottom: 0.8rem;
    width: 85%;
    line-height: 130%;
  }
  .smile {
    font-size: 2.7vw;
  }
  .content {
    font-size: 1.2vw;
    margin-bottom: 1.6rem;
    width: 80%;
  }
  .monthlyContainer,
  .yearlyContainer {
    padding: 0.4rem 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
  }
  .contriText,
  .amountText {
    font-size: 1vw;
    margin-bottom: 0.3rem;
  }
  .contriType {
    font-size: 1.1vw;
  }

  .priceContainer {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .amountWrapper {
    padding: 0.5rem 0.8rem;
  }
  .amount {
    font-size: 1.3vw;
  }
  .enterWrapper {
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
  }
  .enterText {
    font-size: 1.2vw;
  }
  .contriBtn {
    font-size: 1.7vw;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
