.donationWrapper {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .donationWrapper {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .donationWrapper {
    margin-top: 3rem;
    margin-bottom: 10rem;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .donationWrapper {
    margin-top: 3rem;
    margin-bottom: 13rem;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .donationWrapper {
    margin-top: 4rem;
    margin-bottom: 19rem;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
