.container {
  width: 100%;
  padding-bottom: 2rem;
}
.left,
.leftSmallCardContainer,
.right,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.newsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .left {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 10px;
    height: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 20px;
    height: 60vw;
    /* background-color: aqua; */
    padding: 0;
    margin: 1rem 0;
  }
  .leftSmallCardContainer {
    height: 100%;
  }
  .right {
    padding: 0;
    height: 100%;
  }
  .newsContainer {
    height: 100%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 20px;
    height: 62vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    height: 50vw;
    margin-top: 1.3rem;
  }
  .left {
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 20px;
    height: 100%;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    margin-top: 2.4rem;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
