:root {
  --page-gap: 1.3rem;
}

.container {
  margin-top: var(--page-gap);
  margin-bottom: var(--page-gap);
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

@media only screen and (min-width: 480px) {
  :root {
    --page-gap: 1.7rem;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  :root {
    --page-gap: 2rem;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  :root {
    --page-gap: 3rem;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  :root {
    --page-gap: 4.7rem;
  }
  .pageName {
    font-size: 3.3vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
